# data
data/*
!data/.gitkeep

# models
models/*
!models/.gitkeep

# experiment tracking
mlruns/
mlartifacts/
mlflow.db
experiments.csv

# python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
*.egg-info/

# env / secrets
.env

# os
.DS_Store

# editor
.vscode/

# test cache
.pytest_cache/
